<footer class="py-4 index-bg-primary">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6">
        <a href="/">
          <img src="/images/title-sm.png" alt="" class="img-fluid d-none d-md-block">
        </a>
        <p class="h3 mt-3">德門史杰森</p>
        <ul class="footer-content mt-5">
          <li><i class="fas fa-paw"></i> 愛護環境，尊重自然</li>
          <li><i class="fas fa-cat"></i> 請以認養代替購買，勿任意棄養</li>
          <li><i class="fas fa-dog"></i> 每位飼主都應為自己的寵物盡照顧與管理之責</li>
        </ul>
      </div>
      <div class="col-md-6 text-md-right text-center align-self-end">
        <span class="align-self-center">&copy; 2019 Demonstration 本站為樣品網站，無任何營利模式及商業行為。</span>
      </div>
    </div>
  </div>
</footer>

 <!-- shoppingcart hint  -->
<div class="alert alert-success alert-msg" role="alert">
  A simple success alert—check it out!
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/javascripts/jquery-3.4.1.min.js"></script>
<script src="/javascripts/popper.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/all.js"></script>
</body>

</html>