<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="stylesheets/all.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <!-- Fontawesome resource -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <title>德門寵物 | 愛牠給牠最好的！</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container py-3">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="images/title.png" width="250" height="40" alt="" class="d-none d-md-inline-block">
        <img src="images/title-sm.png" width="200" height="40" class="d-inline-block d-md-none img-fluid" alt="">
      </a>
      <div class="dropdown ">
        <button class="btn btn-sm cart" data-toggle="dropdown" data-flip="false">
          <i class="fas fa-shopping-cart text-dark fa-2x"></i><span class="badge badge-pill badge-danger">13</span>
        </button>
        <div class="dropdown-menu p-0" style="min-width: 350px;">
          <div class="p-4">
            <h6>已選擇商品</h6>
            <table class="table">
              <tbody>
                <tr>
                  <td class="align-middle text-center">
                    <a href="#removeModal" class="text-muted" data-toggle="modal">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </td>
                  <td class="align-middle">金牌西裝</td>
                  <td class="align-middle">1 件</td>
                  <td class="align-middle text-right">$520.00</td>
                </tr>
                <tr>
                  <td class="align-middle text-center">
                    <a href="#removeModal" class="text-muted" data-toggle="modal">
                      <i class="fas fa-trash-alt"></i>
                    </a>
                  </td>
                  <td class="align-middle">神秘披風</td>
                  <td class="align-middle">1 件</td>
                  <td class="align-middle text-right">$630.00</td>
                </tr>
              </tbody>
            </table>            
          </div>
          <a href="/carts" class="btn btn-primary btn-block rounded-0 mb-0">結帳去</a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-5">
            <a class="nav-link" href="/">首頁 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item mr-5">
            <a class="nav-link" href="/products">商品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">登入</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>