<%- include('partials/header') -%>

<div class="vh100 d-flex flex-column justify-content-center align-items-center">
  <div class="font-weight-bolder m-5" style="font-size: 108px;">Oops!</div>
  <h1 class="p-3 text-danger"><%= msg %></h1>
  發生了一點小錯誤，您可以選擇
  <a href="#" onclick="history.go(-1)">返回上一頁</a>
</div>

<%- include('partials/footer') -%>
