<%- include('partials/header') -%>

<div class="container">
  <div class="index-header bg-cover" style="background-image: url(images/index_main.jpg)"></div>
  <div class="row justify-content-center no-gutter">
    <div class="col-md-10">
      <div class="row no-gutter">
        <div class="col-4 index-submenu bg-cover" style="background-image: url(images/index_submenu_cat.jpg);">
          <a href="#" class="index-submenu-item">
            <span class="submenu-title">找貓食</span>
            <div class="submenu-mask"></div>
          </a>
        </div>
        <div class="col-4 index-submenu bg-cover" style="background-image: url(images/index_submenu_dog.jpg);">
          <a href="#" class="index-submenu-item">
            <span class="submenu-title">找狗食</span>
            <div class="submenu-mask"></div>
          </a>
        </div>
        <div class="col-4 index-submenu bg-cover"
          style="background-image: url(images/index_submenu_toy.jpg); border:none;">
          <a href="#" class="index-submenu-item">
            <span class="submenu-title">找玩具</span>
            <div class="submenu-mask"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="index-bg-primary" style="margin-top: 100px;">
  <div class="container">
    <div class="row flex-row-reverse">
      <div class="col-md-6 break-vertical-block">
        <div class="bg-cover h-100 section-intro-image" style="background-image: url(images/index_article_1.jpg)">
        </div>
      </div>
      <div class="col-md-6 vertical-content d-flex justify-content-end">
        <div class="py-md-7 py-5 mr-auto">
          <p class="mb-2">家裡也有一隻好玩、好動又好吃的寵物嗎？</p>
          <p class="mb-2">每一隻健康的小動物都十分活潑且對充滿好奇心，他們時時刻刻想要和你玩耍並且探索這個世界！</p>
          <p class="mb-2">我們精心挑選的各種商品絕對可以讓你的寶貝吃得安心、玩得開心，天天充滿活動力。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="index-bg-primary" style="margin-top: 100px;">
  <div class="container">
    <div class="row flex-row">
      <div class="col-md-6 break-vertical-block">
        <div class="bg-cover h-100 section-intro-image" style="background-image: url(images/index_article_2.jpg)">
        </div>
      </div>
      <div class="col-md-6 vertical-content d-flex justify-content-end">
        <div class="py-md-7 py-5 mr-auto">
          <p class="mb-2">牠只是你生命的一部份，你卻是牠的一生。</p>
          <p class="mb-2">那天我遇見了你，從此我的人生不再只有我自己。我知道，不論晴雨天晝夜，不論世界怎麼變化，你總是靜靜的在那裡，靜靜的等待我打開家門的那個瞬間。</p>
          <p class="mb-2">歲月匆匆如流水般逝去，也許十年二十年，緣起緣滅，每一個相處的當下，都值得我們好好對待。</p>
        </div>
      </div>
    </div>
  </div>  
</section>


<section class="container my-5">
  <div class="p-4 mt-5 h1">
    精選商品
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="item-card mb-4">
        <div class="item-image bg-cover"
          style="background-image: url(images/product_2.jpg)">
          <div class="item-tag">最新進貨</div>
        </div>
        <div class="item-body d-flex text-center">
          <div class="item-name col">好吃懶骨頭</div>
          <strong class="item-price col">$ 450</strong>
        </div>
        <a href="#" class="btn-lg cart-btn btn btn-block">
          加入購物車
        </a>
      </div>
    </div>
        <div class="col-md-4">
      <div class="item-card mb-4">
        <div class="item-image bg-cover"
          style="background-image: url(images/product_3.jpg)">
          <div class="item-tag">暢銷商品</div>
        </div>
        <div class="item-body d-flex text-center">
          <div class="item-name col">健康狗糧</div>
          <strong class="item-price col">$ 450</strong>
        </div>
        <a href="#" class="btn-lg cart-btn btn btn-block">
          加入購物車
        </a>
      </div>
    </div>
        <div class="col-md-4">
      <div class="item-card mb-4">
        <div class="item-image bg-cover"
          style="background-image: url(images/product_1.jpg)">
          <div class="item-tag">創意商品</div>
        </div>
        <div class="item-body d-flex text-center">
          <div class="item-name col">寵物冰淇淋</div>
          <strong class="item-price col">$ 450</strong>
        </div>
        <a href="#" class="btn-lg cart-btn btn btn-block">
          加入購物車
        </a>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>