<%- include('partials/header') -%>

<section class="container">
  <div class="row">
    <div class="col-md-6 d-none d-md-block bg-cover login-cover"
      style="background-image: url(images/login_cover.jpg); filter:blur(1px);"></div>
    <div class="col-md-6 vh100 d-flex justify-content-center align-items-center bg-light">
      <form class="w-75" method="POST" action="login/verify">
        <div class="h1 text-center mb-5">登入會員</div>
        <div class="form-group position-relative">
          <input type="email" class="form-control rounded-0 login-input" name="email" id="email"
            aria-describedby="emailHelp" placeholder="">
          <label class="login-label">請輸入註冊的電子信箱</label>
        </div>
        <div class="form-group position-relative">
          <input type="password" class="form-control rounded-0 login-input mt-5 mb-3" name="password" id="password"
            placeholder="">
          <label class="login-label">請輸入使用者密碼</label>
        </div>
        <div class="d-flex justify-content-between">
          <small>
            <span>還沒有帳號？</span><a id="register" href="/register">立即註冊</a>
          </small>
          <small>
            <a id="forgetPwd" href="#">忘記密碼？</a>
          </small>
        </div>
        <button type="submit" class="btn btn-login btn-lg text-light w-100 rounded-0 mt-3">登入帳號</button>
      </form>
    </div>
  </div>

</section>

<%- include('partials/footer') -%>
<script>
  $(document).ready(function() {
    $('#email, #password').focusout(function() {
      if($(this).val().length > 0) {
        $(this).siblings('.login-label').hide();
      } else {
        $(this).siblings('.login-label').show();
      }
    });
  });
</script>