<%- include('partials/header') -%>

<section class="container">
  <div class="index-header bg-cover" style="background-image: url(images/product_cover.jpg)"></div>

</section>

<%- include('partials/footer') -%>