<%- include('partials/header') -%>

<header class="container">
  <div class="index-header bg-cover" style="background-image: url(/images/product_cover.jpg)"></div>
</header>

<section class="container my-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="m-0 py-3 text-center bg-secondary text-white h4">商品類別</div>
      <div class="list-group text-center list-group-flush ">
        <a href="/prodcuts" class="list-group-item list-group-item-action list-group-item-warning h4 active">
          所有商品
        </a>
        <a href="/products/dogs" class="list-group-item list-group-item-action list-group-item-warning h4">狗狗伙食</a>
        <a href="/products/cats" class="list-group-item list-group-item-action list-group-item-warning h4">貓咪伙食</a>
        <a href="/products/toys" class="list-group-item list-group-item-action list-group-item-warning h4">趣味玩具</a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6 mb-5">
          <div class="item-card mb-4">
            <div class="item-image bg-cover" style="background-image: url(/images/product_1.jpg)">
              <div class="item-tag">創意商品</div>
            </div>
            <div class="item-body d-flex text-center">
              <div class="item-name col">寵物冰淇淋</div>
              <strong class="item-price col">$ 450</strong>
            </div>
            <a href="#" class="btn-lg cart-btn btn btn-block">
              加入購物車
            </a>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="item-card mb-4">
            <div class="item-image bg-cover" style="background-image: url(images/product_1.jpg)">
              <div class="item-tag">創意商品</div>
            </div>
            <div class="item-body d-flex text-center">
              <div class="item-name col">寵物冰淇淋</div>
              <strong class="item-price col">$ 450</strong>
            </div>
            <a href="#" class="btn-lg cart-btn btn btn-block">
              加入購物車
            </a>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="item-card mb-4">
            <div class="item-image bg-cover" style="background-image: url(images/product_1.jpg)">
              <div class="item-tag">創意商品</div>
            </div>
            <div class="item-body d-flex text-center">
              <div class="item-name col">寵物冰淇淋</div>
              <strong class="item-price col">$ 450</strong>
            </div>
            <a href="#" class="btn-lg cart-btn btn btn-block">
              加入購物車
            </a>
          </div>
        </div>
        <div class="col-md-6 mb-5">
          <div class="item-card mb-4">
            <div class="item-image bg-cover" style="background-image: url(images/product_1.jpg)">
              <div class="item-tag">創意商品</div>
            </div>
            <div class="item-body d-flex text-center">
              <div class="item-name col">寵物冰淇淋</div>
              <strong class="item-price col">$ 450</strong>
            </div>
            <a href="#" class="btn-lg cart-btn btn btn-block">
              加入購物車
            </a>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination pagination-lg justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>