<%- include('partials/header') -%>
<section class="container vh100 d-flex justify-content-center align-items-center">
  <div class="col-md-offset-4 register-container p-5">
    <h1 class="text-white">用戶註冊</h1>
    <div class="row mt-5 flex-row-reverse">
      <div class="col-md-6 text-left text-white">
        <h3 class="mb-3">網站聲明</h3>
        <p>這個網站只是演示網站並無實際運作，在網站中的任何商品都是虛構的，訂單也不會成立。</p>
        <p>資料會儲存到資料庫內，我不會將你的資料洩漏給任何人，但請不要填入有疑慮或者真實的資料。</p>
        <p>這個網站歡迎各種操作，如果發現任何 bug 也可以回報給我，非常感謝！</p>
        <div class="text-right">
          <span>聯絡作者：</span>
          <a target="_blank" href="https://www.facebook.com/Tobychiang12"><i
              class="fab fa-facebook-square fa-2x mr-1"></i></a>
          <a target="_blank" href="https://github.com/a7711555/pet_eshop"><i class="fab fa-github-square fa-2x"></i></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-left pl-3">
          <small class="text-warning text-left w-100">*為必填項目</small>
        </div>
        <form class="needs-validation"  action="" method="POST" data-toggle="validator">
          <div class="col mt-1 form-group">
            <input type="text" class="form-control rounded" id="username" placeholder="*您的稱呼（6 字以內）" name="username" maxlength="6" data-error="請填入暱稱" required>
            <small class="text-left help-block with-errors text-danger"></small>
          </div>
          <div class="col form-group">
            <input type="email" class="form-control rounded" id="email" placeholder="*電子信箱" name="email" data-error="請填入正確電子信箱地址" required>
            <small class="text-left help-block with-errors text-danger"></small>
          </div>
          <div class="col form-group">
            <input type="password" class="form-control rounded" id="userpwd" placeholder="*密碼（8-12 字英數）" name="userpwd"
              pattern="^(?!.*[^a-zA-Z0-9])(?=.*\d)(?=.*[a-zA-Z]).{8,12}$" data-error="請填入格式為 8-12 字英數密碼 （至少含一英文字母）" required>
              <small class="text-left help-block with-errors text-danger"></small>
          </div>
          <div class="col form-group">
            <input type="password" class="form-control rounded" id="pwdconfirm" placeholder="*請再次輸入密碼" name="pwdconfirm"
              data-match="#userpwd" data-error="請再次輸入密碼" required>
            <small class="text-left help-block with-errors text-danger"></small>
          </div>
          <div class="col form-group">
            <input type="text" class="form-control rounded" id="phone" placeholder="*手機號碼" name="phone" maxlength="10" pattern="[\d]{10}$" data-error="請填入您的手機號碼" required>
            <small class="text-left help-block with-errors text-danger"></small>
          </div>
          <input class="col-6 btn btn-register" type="submit" value="確認送出">
        </form>
      </div>
    </div>
  </div>
</section>


<%- include('partials/footer') -%>
<script src="javascripts/validator.min.js"></script>